$buttons:#F44336;
$gray:#555;
@import url(http://fonts.googleapis.com/css?family=Lato);
$font:"Lato",Helvetica,sans-serif;

body {
	margin:0;
	padding:0;
	background-color:#222;
}
* {
	font-family:$font;
	color:#888;
	box-sizing:border-box;
}

.title {
	text-align:center;
	color:#fff;
}

#textarea {
	min-width:200px;
	max-width:1000px;
	margin:30px auto;
	box-shadow:0 0 10px 5px rgba(0,0,0,0.3);
	background-color:$gray;
	padding:5px 20px 20px;

	.controls { 
		width:100%;
		padding:15px 0 10px;
		display:flex;
		flex-direction:row;

		button {
			flex-grow:1;
			outline:none;
			border:none;
			background-color:$buttons;
			color:#fff;
			padding:10px 10px;
			margin:0 1px;
			cursor:pointer;
			transition:all 0.3s ease-in-out;
			box-shadow:0 0 1px 1px rgba(0,0,0,0.3);

			&:hover {
				box-shadow:0 0 10px 1px rgba(0,0,0,0.7);
			}
		}
	}

	.rich_text{
		background-color:#fff;
		border:none;
		width:100%;
		min-height:200px;
		padding:20px;
    cursor:text;
	}
}